# Gemini API key and model configuration
GOOGLE_API_KEY="<your key>"
GEMINI_MODEL="gemini-3-flash-preview"

#OpenAI API key and model configuration
OPENAI_API_KEY="<your key>"
OPENAI_MODEL="gpt-4o-mini"

# ANTHROPIC_API_KEY API key and model configuration
ANTHROPIC_API_KEY="<your key>"
CLAUDE_MODEL="claude-haiku-4-5-20251001"

# DOUBLEWORD
DOUBLEWORD_API_KEY="<your key>"